header.header
  .container
    .row.align-items-center
      .col-1.header-item
        .inner-logo
          a(href="/")
            img(src="/images/logo.jpg", alt="Website Logo")
      
      .col-4.header-item
        .inner-menu
          ul
            li
              a(href="/") Trang chủ
            li
              a(href="/products") Sản phẩm
