header.header
  .container-fluid
    .row.align-items-center
      .col-12
        
        .inner-logo
            a(href=`${prefixAdmin}/dashboard`) 
               img(src="/images/logo.jpg", alt="Website Logo")

      .col-9
                
         